* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
h2 {
    margin-top: 0;
    font-size: 13px;
}
p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;

}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 254px;
}
.title {
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 120%;
}
.title span {
    color: #FFAB00;
}

.text {
    line-height: 20px;
}

.svg-btn {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
}
.tell a {
    background-image: url("../img/icon-tel.svg");
}
.mail a{
    background-image: url("../img/icon-mail.svg");
}
.login a{
    background-image: url("../img/icon-login.svg");
}
.partner a {
    background-image: url("../img/icon-partner.svg");
}
.inst {
    background-image: url("../img/icon-inst.svg");
}
.vk {
    background-image: url("../img/icon-vk.svg");
}
.fb {
    background-image: url("../img/icon-fb.svg");
}

.header {
    position: relative;
    padding-top: 14px;
    background-color: #FFAB00;
    overflow: hidden;
}
.header::after {
    content: '';
    position: absolute;
    z-index: 2;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 171, 0, 0) 72.92%, #FFAB00 90%);
}

.header .container {
    position: relative;
}

.header .nav {
    margin-bottom: 35px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__cycle {
    border-radius: 50px;
    background-color: white;
}

.nav__link {
    text-decoration: none;
    color: #FFAB00;
}

.nav__link span,
.nav__btn span {
    display: none;
}


.header__phone {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    width: 129px;
    height: 253px;
    border-radius: 20px;
    background-image: url("../img/hero-phone.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 129px 261px;
    box-shadow: 0px 4px 60px rgba(255, 255, 255);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .header__phone {
        background-image: url("../img/hero-phone@2x.png");
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
    .header__phone {
        background-image: url("../img/hero-phone@3x.png");
    }
}

.bubble {
    display: none;
}

.social {
    position: absolute;
    top: 88px;
    right: -1px;
}

.social__item:not(:last-child) {
    margin-bottom: 14px;
}

.download {
    padding-top: 31px;
    padding-bottom: 181px;
}

.download__phone {
    display: none;
}

.download__text {
    margin-bottom: 10px;
}

.download__list {
    display: flex;
    justify-content: space-between;
    max-width: 255px;
}

.download__link {
    display: block;
    width: 117px;
    height: 39px;
    background-size: contain;
}
.google-play {
    background-image: url("../img/google-play.png");
}
.app-store {
    background-image: url("../img/app-store.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .google-play {
        background-image: url("../img/google-play@2x.png");
    }
    .app-store {
        background-image: url("../img/app-store@2x.png");
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
    .google-play {
        background-image: url("../img/google-play@3x.png");
    }
    .app-store {
        background-image: url("../img/app-store@3x.png");
    }
}

.restaurants {
    position: relative;
    padding-top: 206px;
    padding-bottom: 18px;
    color: white;
    background: radial-gradient(95.07% 139.28% at 50% -43.54%, #513E63 0%, #282837 29.64%, #4D4793 85.3%, #9260A9 100%);
}

.restaurants .bubble {
    display: none;
}

.restaurants__phone {
    top: -145px;
    left: 50%;
    position: absolute;
    width: 160px;
    height: 338px;
    background: linear-gradient(180deg, rgba(61, 57, 108, 0) 70.31%, #3D396C 99%), url("../img/restaurants-phone.png");
    background-size: cover;
    transform: translateX(-50%);   
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .restaurants__phone {
        background: linear-gradient(180deg, rgba(61, 57, 108, 0) 70.31%, #3D396C 99%), url("../img/restaurants-phone@2x.png");
        background-size: cover;
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
    .restaurants__phone {
        background: linear-gradient(180deg, rgba(61, 57, 108, 0) 70.31%, #3D396C 99%), url("../img/restaurants-phone@3x.png");
        background-size: cover;
    }
}

.restaurants__text {
    margin-bottom: 11px;
}

.count {
    display: flex;
    
}
.count__item:not(:last-child) {
    margin-right: 22.5px;
}
.count__num {
    font-size: 13px;
}

.plautform {
    padding-top: 31px;
    padding-bottom: 18px;
}

.plautform__text {
    margin-bottom: 8px;
}

.plautform__map {
    width: 158px;
    height: 67.64px;
    background-image: url("../img/map.png");
    background-size: contain;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .plautform__map {
        background-image: url("../img/map@2x.png");
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
    .plautform__map {
        background-image: url("../img/map@3x.png");
    }
}

.delivery {
    padding-top: 18px;
    padding-bottom: 22px;
    color: white;
    background-color: #FFB112;
}

.delivery .bubble {
    display: none;
}

.delivery .container {
    position: relative;
}

.delivery__title {
    width: 100px;
}

.delivery__girl {
    position: absolute;
    top: -128px;
    right: 0;
    width: 126px;
    height: 165px;
    background: linear-gradient(180deg, rgba(255, 178, 23, 0) 82.72%, rgba(255, 177, 20, 0.84) 94.69%, #FFB112 98.56%), url("../img/girl.png");
    background-size: contain !important;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .delivery__girl {
        background: linear-gradient(180deg, rgba(255, 178, 23, 0) 82.72%, rgba(255, 177, 20, 0.84) 94.69%, #FFB112 98.56%), url("../img/girl@2x.png");
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
    .delivery__girl {
        background: linear-gradient(180deg, rgba(255, 178, 23, 0) 82.72%, rgba(255, 177, 20, 0.84) 94.69%, #FFB112 98.56%), url("../img/girl@3x.png");
    }
}

.faq {
    padding-top: 30px;
    padding-bottom: 26px;
}

.faq__girl {
    display: none;
}

.faq__title {
    font-size: 16px;
}

.faq__question {
    margin-bottom: 5px;
}

.faq__btn {
    position: relative;
    padding: 6px 10px;
    width: 100%;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    color: #4E5C66;
    line-height: 165%;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.faq__btn::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 4px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    background-image: url('../img/faq-arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1s ease-in-out;
}

.faq__question_open .faq__btn::after {
    transform: rotate(180deg) translateY(50%);
}

.faq__desk {
    height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.faq__question_open .faq__desk {
    height: 88px;
}

.faq__answer {
    padding-top: 10px;
    padding-bottom: 11px;
    color: #4E5C66;
    line-height: 177%;
}

.reviews {
    position: relative;
    padding-top: 36px;
    padding-bottom: 41px;
    color: white;
    background: 
        url(../img/reviews-bg.png),
        radial-gradient(95.07% 139.28% at 50% 140%, #513E63 0%, #282837 29.64%, #4D4793 85.3%, #9260A9 100%
    );
}
.reviews::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(../img/reviews-bg.png);
    background-position: right;
}
.reviews__phone {
    display: none;
}

.reviews__title {
    font-size: 16px;
    margin-bottom: 15px;
}

.reviews__text {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 10px;
}

.things {
    display: flex;
    margin-bottom: 10px;
}

.things__item {
    height: 17px;
    border-radius: 17px;
    background-color: white;
}
.things__item.circle {
    margin-right: 7px;
    width: 17px;
}
.things__item.ellipse {
    width: 82px;
}

.reviews__comment {
    margin-bottom: 12px;
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 14px;
    line-height: 150%;
}

.reviews__autor {
    text-align: right;
    font-weight: 700;
    font-size: 14px;
}

.reviews .bubble {
    display: none;
}

.conection {
    padding-top: 25px;
    padding-bottom: 26px;
}
.conection__title {
    margin-bottom: 13px;
    color: #414141;
}
.conection__text {
    margin-bottom: 16px;
}

.conection__form input {
    margin-bottom: 15.5px;
    padding: 11px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #EEEFF2;
}

.conection__send {
    display: block;
    margin-bottom: 15px;
    padding: 11px;
    width: 100%;
    border: none;
    color: white;
    font-weight: 900;
    line-height: 19px;
    border-radius: 8px;
    background-color: #F7620F;
}

.conection__agree {
    font-size: 12px;
    line-height: 14px;
    color: #565656;
}

.conection__agree a {
    color: inherit;
}

.footer {
    padding-top: 20px;
    padding-bottom: 23px;
    background-color: #FFAB00;
}

@media (min-width: 540px) {
    .container {
        max-width: 540px;
    }
    .header {
        overflow: visible;
    }
    .header::after {
        background-size: 2400px 759px;
        background-position: center -375px;
        background-image: radial-gradient(
            ellipse,  
            rgba(0, 0, 0, 0) 60%,
            #FFAB00 70%, 
            #fff 70%
        );
    }

    .header .container {
        position: static;
    }
    .header .nav {
        margin-bottom: 72px;
    }
    .nav {
        justify-content: flex-start;
    }
    .nav__cycle {
        margin-right: auto;
    }
    .header .nav__cycle {
        width: 48px;
        height: 48px;
    }
    .tell,
    .mail,
    .login {
        margin-right: 14px;
    }
    

    .nav__item a {
        text-decoration: none;
    }
    .nav__btn span {
        padding-top: 16px;
        padding-right: 25px;
        padding-bottom: 14px;
        padding-left: 25px;
        color: #FFAB00;
        font-weight: 500;
        letter-spacing: 1.2px;
        border-radius: 70px;
        background-color: white;
    }
    .header .nav__btn span {
        position: relative;
        padding-left: 58px;
    }
    .header .nav__btn span::after {
        content: '';
        position: absolute;
        left: 24px;
        top: 13px;
        width: 24px;
        height: 24px;
    }

    .partner a {
        background-image: none;
    }
    .partner .nav__btn {
        width: auto;
        height: auto;
    }
    .partner span {
        display: block;
    }
    .partner span::after {
        background-image: url(../img/icon-partner_dark.svg);
    }
    
    .header__phone {
        height: 247px;
        transform: translateX(-22px);
    }
    .social {
        position: absolute;
        top: 162px;
        right: 27px;
    }

    .bubble {
        z-index: 3;
        display: block;
        position: absolute;
        background-size: contain;
        transform: translate(-50%);
    }

    .bubble-1 {
        top: 61px;
        left: calc(50% - 85px);
        width: 60px;
        height: 60px;
        background-image: url(../img/bubble/bubble-1.png);
    }
    .bubble-2 {
        top: 75px;
        left: calc(50% + 74px);
        width: 57px;
        height: 57px;
        background-image: url(../img/bubble/bubble-2.png);
    }
    .bubble-3 {
        top: 105px;
        left: calc(50% - 157px);
        width: 73px;
        height: 73px;
        border-radius: 100px;
        background-color: white;
    }
    .bubble-4 {
        top: 109px;
        left: calc(50% + 176px);
        width: 62px;
        height: 62px;
        background-image: url(../img/bubble/bubble-4.png);
    }
    .bubble-5 {
        top: 134px;
        left: calc(50% - 250px);
        width: 44px;
        height: 44px;
        background-image: url(../img/bubble/bubble-5.png);
    }
    .bubble-6 {
        top: 183px;
        left: calc(50% + 239px);
        width: 58px;
        height: 58px;
        background-image: url(../img/bubble/bubble-6.png);
    }
    .bubble-7 {
        top: 224px;
        left: calc(50% - 149px);
        width: 38px;
        height: 38px;
        background-image: url(../img/bubble/bubble-7.png);
    }
    .bubble-8 {
        top: 222px;
        left: calc(50% - 244px);
        width: 32px;
        height: 31px;
        background-image: url(../img/bubble/bubble-8.png);
    }
    .bubble-9 {
        top: 242px;
        left: calc(50% + 171px);
        width: 30px;
        height: 30px;
        background-image: url(../img/bubble/bubble-9.png);
    }
    .bubble-10 {
        top: 283px;
        left: calc(50% - 188px);
        width: 60px;
        height: 60px;
        background-image: url(../img/bubble/bubble-10.png);
    }
    .bubble-11 {
        top: 272px;
        left: calc(50% + 125px);
        width: 74px;
        height: 74px;
        background-image: url(../img/bubble/bubble-11.png);
        filter: blur(5px);
    }
    .bubble-12 {
        top: 342px;
        left: calc(50% - 102px);
        width: 67px;
        height: 67px;
        background-image: url(../img/bubble/bubble-12.png);
    }
    .bubble-13 {
        top: 290px;
        left: calc(50% + 224px);
        width: 58px;
        height: 59px;
        background-image: url(../img/bubble/bubble-13.png);
    }
    .bubble-14 {
        top: 362px;
        left: calc(50% + 76px);
        width: 37px;
        height: 38px;
        border: none;
        background-image: url(../img/bubble/bubble-14.png);
        background-color: transparent;
    }


    .download {
        padding-top: 26px;
        padding-bottom: 0px;
    }
    .download {
        display: flex;
    }
    .download__phone {
        flex: none;
        display: block;
        margin-right: 30px;
        width: 160px;
        height: 283px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 62.46%, #FFFFFF 100%), url(../img/download-phone.png);

        background-size: contain;
        background-position: center;
    }
    .download__block {
        padding-top: 20px;
    }
    .title {
        letter-spacing: .1px;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .download__title {
        margin-bottom: 8px;
    }
    .text {
        line-height: 21px;
    }
    .download__text {
        letter-spacing: .5px;
    }
    .restaurants {
        position: relative;
        padding-top: 13px;
        padding-bottom: 0;
    }
    .restaurants::after,
    .restaurants::before {
        content: '';
        position: absolute;
        inset: 0;
    }
    .restaurants::after {
        z-index: 1;
        background: radial-gradient( ellipse, #fff 70%, rgba(0, 0, 0, 0) 1% );
        background-size: 2400px 759px;
        background-position: center -707px;
        background-repeat: no-repeat;
    }
    .restaurants::before {
        z-index: 3;
        background: radial-gradient( ellipse, rgba(0, 0, 0, 0) 70%, #fff 1% );
        background-size: 2400px 759px;
        background-position: center -423px;
        background-repeat: no-repeat;
    }

    .restaurants .container {
        display: flex;
    }
    .restaurants__block {
        padding-top: 80px;
        margin-right: 30px;
    }
    .restaurants__title {
        margin-bottom: 15px;
    }
    .restaurants__text {
        margin-bottom: 17px;
        font-size: 14px;
        line-height: 21px;
    }
    .count__item:not(:last-child) {
        margin-right: 20px;
    }
    .count__num {
        font-size: 16px;
        line-height: 18px;
    }
    .count__thing {
        font-size: 14px;
    }
    .restaurants__phone {
        z-index: 2;
        flex: none;
        position: static;
        transform: none;
        height: 317px;
        background-image: url("../img/restaurants-phone.png");
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        .restaurants__phone {
            background-image: url("../img/restaurants-phone@2x.png");
            background-size: cover;
        }
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
        .restaurants__phone {
            background-image: url("../img/restaurants-phone@3x.png");
            background-size: cover;
        }
    }

    .plautform {
        padding-top: 46px;
        padding-bottom: 5px;
    }
    .plautform__text {
        margin-bottom: -6px;
        letter-spacing: .52px;
    }
    .plautform__map {
        width: 100%;
        height: 232px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .delivery {
        position: relative;
        padding-top: 26px;
        padding-bottom: 81px;
        background: radial-gradient(95.07% 129.28% at 50% 153.54%, #FFAB00 0%, #FFCD68 29.64%, #FFAB00 85.3%, #FFAB00 100%);
    }
    .delivery::after,
    .delivery::before {
        content: '';
        position: absolute;
        inset: 0;
    }
    .delivery::after {
        z-index: 1;
        background: radial-gradient( ellipse, rgba(0, 0, 0, 0) 70%, #fff 1% );
        background-size: 2400px 759px;
        background-position: center -4px;
        background-repeat: no-repeat;
    }
    .delivery::before {
        z-index: 3;
        background: radial-gradient( ellipse, white 70%, rgba(0, 0, 0, 0) 1% );
        background-size: 2400px 759px;
        background-position: center 240px;
        background-repeat: no-repeat;
    }

    .delivery .container {
        display: flex;
    }
    .delivery__girl {
        flex: none;
        position: static;
        margin-right: 30px;
        width: 160px;
        height: 210px;
    }
    .delivery__block {
        padding-top: 14px;
    }
    .delivery__title {
        width: auto;
    }
    .delivery__text {
        letter-spacing: .5px;
    }
    
    .faq {
        padding-top: 0;
        padding-bottom: 21px;
    }
    .faq__title {
        margin-bottom: 27px;
    }
    .faq__btn {
        font-size: 16px;
    }
    .faq__answer {
        padding-left: 9px;
        padding-bottom: 7px;
        letter-spacing: .58px;
        line-height: 192%;
    }

    .reviews {
        padding-top: 47px;
        padding-bottom: 112px;
    }
    .reviews::after,
    .reviews::before {
        content: '';
        position: absolute;
        inset: 0;
    }
    .reviews::after {
        z-index: 1;
        background: radial-gradient( ellipse, #fff 70%, rgba(0, 0, 0, 0) 1% );
        background-size: 2400px 759px;
        background-position: center 386px;
        background-repeat: no-repeat;
    }
    .reviews::before {
        z-index: 3;
        background: radial-gradient( ellipse,  rgba(0, 0, 0, 0) 70%,#fff 1% );
        background-size: 2400px 759px;
        background-position: center -3px;
        background-repeat: no-repeat;
    }
    .reviews__title {
        margin-bottom: 26px;
    }
    .reviews__text {
        margin-bottom: 20px;
    }
    .things {
        margin-bottom: 20px;
    }

    .conection {
        position: relative;
        padding-top: 0;
        height: 353px;
    }
    .conection__block {
        z-index: 10;
        position: absolute;
        top: -68px;
        left: 50%;
        padding: 25px 30px 17px 30px;
        width: 410px;
        transform: translateX(-50%);
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    }
    .conection__title {
        letter-spacing: -.2px;
        margin-bottom: 18px;
    }
    .conection__text {
        letter-spacing: .6px;
        margin-bottom: 17px;
    }

    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer .nav__cycle {
        width: 43px;
        height: 43px;
    }

}
@media (min-width: 1100px) {
    .container {
        max-width: 1110px;
    }

    .header::after {
        display: none;
    }
    .header {
        background-color: transparent;
        background-image: radial-gradient(
            ellipse,  
            #FFAB00 70%,
            #fff 70%
        );
        background-repeat: no-repeat;
        background-size: 2400px 759px;
        background-position: center -261px;
    }
    .header .nav__cycle {
        width: 42px;
        height: 42px;
    }

    .nav__link {
        padding-top: 6px;
        padding-left: 30px;
        width: auto;
        background-position: left;
        background-repeat: no-repeat;
    }
    .nav__link span {
        display: block;
        color: white;
    }

    .tell {
        margin-right: 35px;
    }
    .mail {
        margin-right: 100px;
    }

    .nav__item.login {
        margin-right: 10px;
    }

    .nav__btn span {
        padding-bottom: 14px;
    }

    .login a {
        background-image: none;
    }
    .login .nav__btn {
        width: auto;
        height: auto;
    }
    .login span {
        display: block;
    }
    .login span::after {
        background-image: url(../img/icon-login_dark.svg);
    }
    
    .header__phone {
        width: 288px;
        height: 585px;
        border-radius: 45px;
        background-size: contain;
        transform: none;
    }

    .bubble-1 {
        width: 108px;
        height: 108px;
        left: calc(50% - 227px);
    }
    .bubble-2 {
        z-index: 0;
        width: 137px;
        height: 137px;
        left: calc(50% + 158px);
    }
    .bubble-3 {

        top: 185px;
        left: calc(50% - 380px);
        width: 179px;
        height: 179px;
    }
    .bubble-4 {
        top: 155px;
        left: calc(50% + 407px);
        width: 152px;
        height: 152px;
    }
    .bubble-5 {
        top: 300px;
        left: calc(50% - 600px);
        width: 106px;
        height: 106px;
    }
    .bubble-6 {
        top: 337px;
        left: calc(50% + 560px);
        width: 139px;
        height: 139px;
    }
    .bubble-7 {
        top: 430px;
        left: calc(50% - 260px);
        width: 93px;
        height: 93px;
    }
    .bubble-8 {
        top: 452px;
        left: calc(50% - 588px);
        width: 80px;
        height: 80px;
    }
    .bubble-9 {
        top: 477px;
        left: calc(50% + 395px);
        width: 71px;
        height: 71px;
    }
    .bubble-10 {
        top: 523px;
        left: calc(50% - 420px);
        width: 125px;
        height: 125px;
    }
    .bubble-11 {
        top: 550px;
        left: calc(50% + 213px);
        width: 178px;
        height: 178px;
    }
    .bubble-11 {
        top: 550px;
        left: calc(50% + 213px);
        width: 178px;
        height: 178px;
    }
    .bubble-12 {
        z-index: -1;
        top: 737px;
        left: calc(50% - 282px);
        width: 164px;
        height: 164px;
    }
    .bubble-13 {
        top: 596px;
        left: calc(50% + 523px);
        width: 140px;
        height: 141px;
    }
    .bubble-14 {
        /* position: relative; */
        top: 726px;
        left: calc(50%);
        width: 93px;
        height: 95px;
    }
    .bubble-14::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 19px;
        background-image: url(../img/header_arrow.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .social {
        padding-top: 120px;
    }

    .download {
        z-index: 1;
        padding-top: 100px;
    }

    .download__phone {
        width: 343px;
        height: 606px;
        margin-right: 130px;
    }

    .download__block {
        padding-top: 134px;
    }
    .title {
        font-size: 32px;
    }
    .download__title {
        font-size: 42px;
        margin-bottom: 22px;
    }
    .download__text {
        margin-bottom: 73px;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 27px;
        color: #768C9B;
    }
    .download__list {
        max-width: 100%;
        justify-content: flex-start;
    }
    .download__link {
        width: 215px;
        height: 71px;
        margin-right: 20px;
    }

    .restaurants {
        z-index: -1;
        margin-top: -110px;
        padding-top: 95px;
    }
    .restaurants::after {
        background-position: center -550px;
    }
    .restaurants::before {
        background: radial-gradient( ellipse, rgba(0, 0, 0, 0) 70%, #fff 1% );
        background-size: 3200px 1400px;
        background-position: center -700px;
        background-repeat: no-repeat;
    }
    .restaurants__block {
        margin-right: 120px;
        padding-top: 216px;
        width: 540px;
    }
    .restaurants__title {
        font-size: 30px;
        letter-spacing: 1.3px;
        margin-bottom: 20px;
    }
    .restaurants__text {
        margin-bottom: 30px;
    }
    .count__item:not(:last-child) {
        margin-right: 50px;
    }
    .count__num {
        font-size: 36px;
        margin-bottom: 16px;
    }
    .count__thing {
        font-size: 18px;
    }
    .restaurants__phone {
        width: 371px;
        height: 596px;
    }

    .restaurants .bubble {
        display: block;
    }
    .restaurants__bubble-1 {
        top: 124px;
        left: calc(50% - 512px);
        width: 90px;
        height: 90px;
        background-image: url(../img/bubble/restaurants__bubble-1.png);
        filter: blur(1px);
    }
    .restaurants__bubble-2 {
        top: 112px;
        left: calc(50% + 44px);
        width: 106px;
        height: 106px;
        background-image: url(../img/bubble/restaurants__bubble-2.png);
    }
    .restaurants__bubble-3 {
        top: 600px;
        left: calc(50% + 524px);
        width: 130px;
        height: 130px;
        background-image: url(../img/bubble/restaurants__bubble-3.png);
    }

    .plautform {
        display: flex;
        padding-top: 70px;
        padding-bottom: 46px;
    }
    .plautform__block {
        padding-top: 52px;
        max-width: 420px;
    }
    .plautform__title {
        margin-bottom: 28px;
    }
    .plautform__map {
        width: 633px;
        height: 271px;
        transform: translate(55px);
    }

    .delivery {
        padding-top: 0;
        padding-bottom: 0;
    }
    .delivery::after {
        z-index: 0;
        background: radial-gradient( ellipse, rgba(0, 0, 0, 0) 55%, #fff 1% );
        background-size: 6000px 4200px;
        background-position: center -446px;
        background-repeat: no-repeat;
    }
    .delivery::before {
        z-index: 0;
        background-position: center 505px;
    }
    .delivery__girl {
        z-index: 1;
        width: 540px;
        height: 709px;
        margin-right: 30px;
        background: linear-gradient(180deg, rgba(255, 178, 23, 0) 82.72%, #fff 100%), url("../img/girl.png");
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 1.5dppx) {
        .delivery__girl {
            background: linear-gradient(180deg, rgba(255, 178, 23, 0) 82.72%, #fff 100%), url("../img/girl@2x.png");
        }
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
        .delivery__girl {
            background: linear-gradient(180deg, rgba(255, 178, 23, 0) 82.72%, #fff 100%), url("../img/girl@3x.png");
        }
    }

    .delivery__block {
        padding-top: 166px;
    }
    .delivery__title {
        margin-bottom: 29px;
    }
    .delivery__text {
        width: 510px;
    }
    .delivery .bubble {
        display: block;
    }
    .delivery_bubble-1 {
        left: calc(50% + 365px);
        width: 80px;
        height: 80px;
        background-image: url(../img/bubble/delivery_bubble-1.png);
    }
    .delivery_bubble-2 {
        top: 496px;
        left: calc(50% + 148px);
        width: 71px;
        height: 71px;
        background-image: url(../img/bubble/delivery_bubble-2.png);
    }
    .delivery_bubble-3 {
        top: 460px;
        left: calc(50% + 480px);
        width: 200px;
        height: 200px;
        background-image: url(../img/bubble/delivery_bubble-3.png);
    }

    .faq {
        display: flex;
        padding-bottom: 70px;
    }
    .faq__block {
        margin-right: 48px;
        padding-top: 189px;
    }
    .faq__title {
        max-width: 350px;
        margin-bottom: 18px;
    }
    .faq__girl {
        flex: none;
        display: block;
        width: 523px;
        height: 728px;
        background-image: url(../img/faq-girl.png);
        background-size: contain;
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        .faq__girl {
            background-image: url(../img/faq-girl@2x.png);
        }
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
        .faq__girl {
            background-image: url(../img/faq-girl@3x.png);
        }
    }

    .reviews {
        padding-top: 0;
        padding-bottom: 133px;
        background: 
            url("../img/reviews-bg.png"),
            radial-gradient(
                95.07% 139.28% at 50% 139.46%, 
                #513E63 0%, 
                #282837 29.64%, 
                #4D4793 85.3%, 
                #9260A9 100%
            )
        ;
        background-size: cover;
    }
    .reviews::before {
        z-index: 0;
    }
    .reviews::after {
        z-index: 0;
        background-position: center 431px;
    }
    .reviews .container {
        display: flex;
    }
    .reviews__phone {
        z-index: 1;
        flex: none;
        display: block;
        margin-right: 92px;
        width: 479px;
        height: 551px;
        background-image: url(../img/reviews-phone.png);
        background-size: contain;
        transform: translate(26px, -54px);
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        .reviews__phone {
            background-image: url(../img/reviews-phone@2x.png);
        }
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
        .reviews__phone {
            background-image: url(../img/reviews-phone@3x.png);
        }
    }
    .reviews__block {
        padding-top: 70px;
        max-width: 445px;
    }
    .reviews__title {
        margin-bottom: 14px;
    }
    .reviews__text {
        /* max-width: 445px; */
    }
    .reviews__comment {
        line-height: 24px;
        letter-spacing: .95px;
    }

    .reviews .bubble {
        display: block;
    }
    .reviews__bubble-1 {
        top: -35px;
        left: calc(50% - 140px);
        width: 71px;
        height: 71px;
        background-image: url(../img/bubble/reviews_bubble-1.png);

    }
    .reviews__bubble-2 {
        top: -20px;
        left: calc(50% + 502px);
        width: 106px;
        height: 106px;
        background-image: url(../img/bubble/reviews_bubble-2.png);
    }
    .reviews__bubble-3 {
        top: 432px;
        left: calc(50% + 486px);
        width: 137px;
        height: 137px;
        background-image: url(../img/bubble/reviews_bubble-3.png);

    }
    .leaves {
        z-index: 1;
        top: 407px;
        right: 0;
        width: 653px;
        height: 323px;
        background-image: url(../img/bubble/leaves.png);
        transform: none;
    }

    .conection {
        padding-bottom: 120px;
        height: auto;
    }
    .conection__block {
        position: static;
        padding: 27px 30px 5px 30px;
        width: 100%;
        transform: none;
    }
    .conection__title {
        margin-bottom: 5px;
    }
    .conection__text {
        margin-bottom: 21px;
    }
    .conection__form {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .conection__form input {
        flex: none;
        width: 255px;
    }
    .conection__send {
        flex: none;
        display: inline-block;
        padding: 24px 51px;
        width: auto;
    }
    .conection__agree {
        font-size: 14px;
        letter-spacing: .06px;
        transform: translateY(-29px);
    }

    .footer .nav__cycle {
        background-image: url(../img/logo.png);
        background-color: transparent;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .footer .login {
        margin-right: 0;
    }
    .footer .partner {
        display: none;
    }
}